<!DOCTYPE html>
<!-- You DID it!

 This file is part of You DID it!

 You DID it! is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 You DID it! is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
 You DID it! uses jQuery, licenced by the jQuery Fundation
 under the MIT Licence (see https://jquery.org/license/)
-->
<html dir="ltr" lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<title>You DID it!</title>
		<script type="text/javascript" src="../libs/mustache-2.3.0.min.js"></script>
		<script type="text/javascript" src="../res/language.js"></script>
		<script type="text/javascript" src="../core/tools.js"></script>
		<script type="text/javascript" src="../core/items.js"></script>
		<script type="text/javascript" src="../core/engine.js"></script>
		<script type="text/javascript" src="../gui/i18n.js"></script>
		<script type="text/javascript" src="../gui/gui.js"></script>
		<style type="text/css">
			body { background-color: initial !important; color: initial !important; }
			.state_pict { max-width: 200px; float: left;}
			h2 { clear: both; text-align: center; text-transform: capitalize; border-top: 3px solid #333; padding-top: 2ex;}
			h2.first { border-top-width: 0px; padding-top: 0px;}
			.i18n { margin-bottom: 1ex; display: inline-block; min-width: 15em; border-radius: 1ex; border: 1px solid #ddd; padding: 0.3ex; }
			.original { font-style: italic; }
			.translation { }
			.lang { font-family: monospace; }
		</style>
		<script type="text/javascript">
			// Start the game
			var langs = _get('lang').split(';');
			var i18ns = [];
			var unmatchingStr = [];
			document.addEventListener('DOMContentLoaded', function() {
				eng_loadGame(null, langs[0], translationLoad, null);
			});
			// Templates
			var titleTag = '<h2>{{title}}</h2>';
			var translationTagTpl = '<div class="i18n"><div class="original">{{key}}</div>'
					+ '{{#translations}}<div class="translation"><span class="lang">{{lang}}:</span> {{lbl}}</div>{{/translations}}</div>';
			Mustache.parse(titleTag);
			Mustache.parse(translationTagTpl);
			function translationTag(key) {
				var translations = [];
				for (var i = 0; i < i18ns.length; i++) {
					var translation = i18_translate(i18ns[i], key);
					if (translation == key) {
						translations.push({"lang": langs[i], "lbl": "-- Untranslated --"});
					} else {
						translations.push({"lang": langs[i], "lbl": translation});
					}
				}
				return Mustache.render(translationTagTpl, {"key": key, "translations": translations});
			}
			// Load languages
			function closureDone(index) {
				return function(data) { i18_loadLanguage(i18ns[index], langs[index], data, 10); };
			}
			function closureFail(lang) {
				return function(xhr, status, error) { console.warn("Couln't load game translation file for " + lang + ": " + error); }
			}
			function closureDisplay(data) {
				return function() { translationDisplay(data); }
			}
			function translationLoad(gameData) {
				var loads = [];
				for (var i = 0; i < langs.length; i++) {
					i18ns.push(i18n_init());
					loads.push({'type': 'json',
						'url': "./games/" + escUrl(eng_getGameCode()) + "/i18n/language-" + escUrl(langs[i]) + ".json",
						'done': closureDone(i),
						'fail': closureFail(langs[i])});
				}
				parallelLoad(loads, closureDisplay(gameData), function() {});
			}
			function displayLoop(data, keyAccessor) {
				var ret = '';
				for (var i = 0; i < data.length; i++) {
					var key = keyAccessor(data, i);
					ret += translationTag(key);
					delete unmatchingStr[key];
				}
				return ret;
			}
			var stdKey = function(data, key) { return data[key]; };
			function translationDisplay(gameData) {
				unmatchingStr = gameData['i18nData']['data'];
				var html = "<h2 class=\"first\">Title</h2>" + translationTag(_eng_gameData['title']);
				delete unmatchingStr[_eng_gameData['title']];
				// Characters
				html += Mustache.render(titleTag, {"title": "Characters"});
				html += displayLoop(_eng_gameData['characters'], function(data, k) { return data[k]['name']; });
				// Actions
				html += "<h2>Actions</h2>";
				html += displayLoop(_eng_gameData['actions'], function(data, k) { return data[k]['code']; });
				// Inventory
				html += "<h2>Inventory</h2>";
				html += displayLoop(_eng_gameData['locations'], stdKey);
				// Starting inventory
				// States
				for (var i = 0; i < _eng_gameData['states'].length; i++) {
					var state = _eng_gameData['states'][i];
					html += "<h2>" + state['type'] + ": " + state['code'] + "</h2>";
					if ("picture" in state) {
						html += "<img class=\"state_pict\" src=\"./games/" + escAttr(escUrl(eng_getGameCode())) + "/" + escAttr(escUrl(state['picture'])) + "\" />";
					}
					// Story
					if ("story" in state) {
						for (var j = 0; j < state['story'].length; j++) {
							var line = state['story'][j];
							if (String.isString(line)) {
								html += translationTag(line);
								delete unmatchingStr[line];
							} else if (Array.isArray(line['text'])) {
								for (var k = 0; k < line['text'].length; k++) {
									html += translationTag(line['text'][k]);
									delete unmatchingStr[line['text'][k]];
								}
							} else {
								html += translationTag(line['text']);
								delete unmatchingStr[line['text']];
							}
						}
					}
					// Map items
					if ("map-items" in state) {
						html += "<h3>Map items</h3>";
						for (var j = 0; j < state['map-items'].length; j++) {
							var item = state['map-items'][j];
							if ("desc" in item) {
								if (String.isString(item['desc'])) {
									html += translationTag(item['desc']);
									delete unmatchingStr[item['desc']];
								} else {
									for (var k = 0; k < item['desc'].length; k++) {
										html += translationTag(item['desc'][k]);
										delete unmatchingStr[item['desc'][k]];
									}
								}
							}
							if ("result" in item && "text" in item['result']) {
								if (String.isString(item['result']['text'])) {
									html += translationTag(item['result']['text']);
									delete unmatchingStr[item['result']['text']];
								} else {
									for (var k = 0; k < item['result']['text'].length; k++) {
										html += translationTag(item['result']['text'][k]);
										delete unmatchingStr[item['result']['text'][k]];
									}
								}
							}
						}
					}
					// Actions
					if ("actions" in state) {
						html += "<h3>Actions</h3>";
						for (var j = 0; j < state['actions'].length; j++) {
							var action = state['actions'][j]['action'];
							var result = state['actions'][j]['result'];
							var code = "";
							for (var k = 0; k < action.length; k++) {
								code += " " + escHtml(action[k]);
							}
							for (var l = 0; l < langs.length; l++) {
								code += " / ";
								for (var k = 0; k < action.length; k++) {
									var translation = i18_translate(i18ns[l], action[k]);
									if (translation == action[k]) {
										translation = "-- Untranslated --";
									}
									code += " " + escHtml(translation);
								}
							}
							if ('text' in result) {
								html += "<h4>" + code + "</h4>";
								if (String.isString(result['text'])) {
									html += translationTag(result['text']);
									delete unmatchingStr[result['text']];
								} else {
									for (var k = 0; k < result['text'].length; k++) {
										html += translationTag(result['text'][k]);
										delete unmatchingStr[result['text'][k]];
									}
								}
							}
						}
					}
					// Hints
					if ("hints" in state) {
						html += "<h3>Hints</h3>";
						html += displayLoop(state['hints'], stdKey);
					}
				}
				// Unmatching strings
				html += "<h2>Unmatching strings</h2>";
				for (var key in unmatchingStr) {
					html += translationTag(key, i18ns[0]);
				}
				document.querySelector('body').innerHTML = html;
			}
			</script>
	</head>
	<body>
		
	</body>
</html>